.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f4f8;
    text-align: center;
}

.landing-page h1 {
    font-size: 2.5rem;
    color: #08979D;
    margin-bottom: 10px;
}

.landing-page p {
    font-size: 1.25rem;
    color: #4A4A4A;
    margin-bottom: 20px;
}

.landing-page button {
    background-color: #08979D;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.landing-page button:hover {
    background-color: #007B82;
    transform: scale(1.05);
}

.landing-page button:active {
    background-color: #005F60;
    transform: scale(1);
}
